.genre-filter-select-card {
  padding: 10px;
  margin-bottom: 20px;
}

.genre-filter-select-component__control {
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #ffffff;
  border: 1px solid #e1e1e1 !important;
  background: #6c6c6c !important;
}

.genre-filter-select-component__placeholder {
  font-size: 16px !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
}

.genre-filter-select-component__single-value {
  color: #ffffff !important;
}

.genre-filter-select-component__indicator-separator {
  display: none;
}

.genre-filter-select-component__dropdown-indicator {
  color: #ffffff !important;
}

.genre-filter-select-component__clear-indicator {
  color: #ffffff !important;
}

@media (min-width: 576px) {
  .genre-filter-select-component__control {
    width: 260px;
  }
}

@media (min-width: 768px) {
  .genre-filter-select-card {
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .genre-filter-select-card {
    display: flex;
    align-items: center;
    height: 80px;
  }
}
