.movie-list-card {
  padding: 25px 0;
  margin-bottom: 20px;
}

.movie-list-card img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.movie-list-card h1 {
  font-size: 20px;
  letter-spacing: -0.015em;
  color: #ffffff;
  padding: 0 15px;
  margin-bottom: 0;
}

.movie-list-card h2 {
  font-size: 16px;
  letter-spacing: -0.015em;
  color: #ffc700;
  padding: 0 15px;
  margin-bottom: 0;
}

.movie-list-card p {
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #ffffff;
  padding: 0 15px;
  margin-bottom: 30px;
  min-height: 20px;
}
