.catalog-container {
  font-size: 18px;
  padding: 20px;
}

.catalog-container h1 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-bottom: 50px;
}

.catalog-select-container {
  margin-bottom: 20px;
}

.catalog-select-card {
  padding: 10px;
  margin-bottom: 20px;
}

.catalog-select {
  width: 250px;
}
