.main-nav {
  padding-left: 20px;
  min-height: 70px;
  background-color: #ffc700;
}

.nav-logo-text h4 {
  padding: 0;
  margin: 0;
}

.nav-logout {
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
}

.nav-logout a {
  padding: 5px 30px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.nav-user-name {
  display: none;
}

@media (min-width: 576px) {
  .main-nav {
    padding-left: 30px;
  }

  .nav-logout {
    margin-right: 25px;
  }
}

@media (min-width: 992px) {
  .main-nav {
    padding-left: 40px;
  }

  .nav-logout {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    padding-left: 50px;
  }

  .nav-user-name {
    margin-right: 35px;
    display: unset;
  }
}
